.destination-items
.blogspot.destinations {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.destinations .item.tokyo .img-item {
  background-image: url("../img/tokyo-mobile.jpg");
  background-size: cover;
}

.destinations .item.osaka .img-item {
  background-image: url("../img/osaka-mobile.jpg");
  background-size: cover;
}

.destinations .item .img-item {
  height: 400px;
  width: 100%;
}

.destinations .item header h3 {
  margin: 24px 0;
}

.destinations .item p {
  margin-bottom: 24px;
}

.destinations .button
.blogspot.destinations {
  width: 100%;
}

/* Pacotes de viagem*/

.popular-destinations .destination-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.travel-packages.destinaitons .destination-items .img-item {
  height: 400px;
  width: 100%;
}

.travel-packages.destinaitons .destination-items .button {
  width: 100%;
  margin: 24px 0;
}

/*Blogspot */

.blogspot.tokyo .content-container p {
  margin-bottom: 32px;
}

.blogspot.tokyo .text-content .content-text p {
  margin-bottom: 32px;
}

.blogspot.tokyo .image-gallery .image.first {
  width: 100%;
  height: 460px;
  margin-bottom: 0px;
}

.blogspot.destinations .destination-items {
  width: 100%;
  height: 460px;
  margin-bottom: 32px;
}
 
.blogspot.tokyo .image-gallery .image.first {
  background: url(../img/Tokyo.png) no-repeat;
  background-size: cover;
}

.blogspot.tokyo article .image-gallery .image.first {
  background: url(../img/tokyo-mobile.jpg) no-repeat;
  background-size: cover;
  margin-bottom: 8px;
}

.destinations .item.hiroshima .img-item {
  background: url(../img/blogspot-hiroshima-mobile.png) no-repeat;
  background-size: cover;
}

.destinations .item.kyoto .img-item {
  background: url(../img/blogspot-kyoto-mobile.png) no-repeat;
  background-size: cover;
}


@media screen and (min-width: 768px) {
  .destinations {
    width: 648px;
  }

  .destinations .item.tokyo .img-item {
    background-image: url("../img/tokyo-tablet-desk.jpg");
    background-size: cover;
  }

  .destinations .item.osaka .img-item {
    background-image: url("../img/osaka-tablet-desk.jpg");
    background-size: cover;
  }

  .destinations .item .img-item {
    width: 100%;
    height: 452px;
  }
  .destinations .button {
    width: 280px;
  }

  /*Pacotes de Viagens*/

  .travel-packages.destinaitons {
    width: 648px;
  }

  /* Blogspot */
  .blogspot.tokyo .content-container .text-content {
    width: 278px;
    margin: 0;
  }

  .blogspot.tokyo .content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-top: 24px;
  width: 100%;
}

  .blogspot.tokyo .content-container .image-gallery {
    background: url("../img/tokyo-tablet-desk.jpg") no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 1024px) {
  .destinations
  .blogspot.destinations {
    width: 900px;
  }

  .destinations .item .img-item
  .blogspot.destinations {
    width: 100%;
    height: 452px;
  }

  /*Pacotes de Viagens*/
  .travel-packages.destinaitons {
    width: 900px;
  }

  /*Blogspot */
   .blogspot.tokyo .content-container .text-content {
    width: 560px;
    margin: 0;
  }
}

@media screen and (min-width: 1440px) {
  .destinations {
    width: 1200px;
  }
  .destination-items
  .blogspot.destinaitons {
    flex-direction: row;
  }

  /*Pacotes de Viagens*/
  .travel-packages.destinaitons {
    width: 1200px;
  }
  .travel-packages.destinaitons .destination-items {
    flex-direction: row;
  }

  /*Blogspot*/
  .blogspot.destinaitons 
  .blogspot.tokyo .content-container {
    display: flex;
    justify-content: space-between;
  }
}
