.destination-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.destinations .item.tokyo .img-item {
  background-image: url("../img/tokyo-mobile.jpg");
  background-size: cover;
}

.destinations .item.osaka .img-item {
  background-image: url("../img/osaka-mobile.jpg");
  background-size: cover;
}

.destinations .item .img-item {
  height: 368px;
  width: 100%;
}

.destinations .item header h4 {
  margin: 24px 0;
}

.destinations .item p {
  margin-bottom: 24px;
}

.destinations .button {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .destinations {
    width: 648px;
  }

  .destinations .item.tokyo .img-item {
    background-image: url("../img/tokyo-tablet-desk.jpg");
    background-size: cover;
  }

  .destinations .item.osaka .img-item {
    background-image: url("../img/osaka-tablet-desk.jpg");
    background-size: 100% 100%;
  }

  .destinations .item .img-item {
    width: 100%;
    height: 452px;
  }
}
.destinations .button {
  width: 280px;
}

@media screen and (min-width: 1024px) {
  .destinations {
    width: 900px;
  }

  .destinations .item .img-item {
    width: 100%;
    height: 452px;
  }
}

@media screen and (min-width: 1440px) {
  .destinations {
    width: 1200px;
  }
  .destination-items {
    flex-direction: row;
  }
}
