@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --background-primary-color: #fff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #0000;

  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --text-primary-color: #222;
  --text-secondary-color: #ffffff;

  --tittle-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

/* CSS RESET */
body,
img,
h1,
p,
fieldset,
legend,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
