.hero .hero-img,
.bottom-hero .hero-img {
  height: 400px;
  width: 100%;
}

.hero .hero-img {
  background: url(../img/hero-mobile.jpg) no-repeat;
  background-size: cover;
}

.bottom-hero .hero-img {
  background: url(../img/bg-bottom-hero-mobile.png) no-repeat;
  background-size: cover;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0px;
  font-weight: var(--text-weight);
  font-size: 26px;
  text-align: center;
  line-height: 1.5;
}

/*Pacote Viagens*/

.travel-packages.hero {
  margin-bottom: 88px;
}

.travel-packages .hero-img {
  height: 460px;
  background: url("../img/pacote-hero-mobile.jpg") no-repeat;
  background-size: cover;
}

.travel-packages .hero-content {
  padding: 65px 24px;
}

.travel-packages .hero-content h1 {
  font-size: 48px;
  color: #ffff;
}

.travel-packages .hero-content p {
  color: #ffff;
}

.travel-packages .hero-content hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px 0 32px;
  line-height: 32px;
}

@media screen and (min-width: 768px) {
  .hero .hero-img {
    height: 620px;
    background: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }
  .bottom-hero .hero-img {
    height: 400px;
    background: url(../img/bg-bottom-hero-tablet.png) no-repeat;
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 60px;
    margin: 0px;
    font-weight: var(--text-weight);
    font-size: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .hero .hero-img {
    height: 490px;
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .bottom-hero .hero-img {
    height: 464px;
    background: url(../img/bg-bottom-hero-desk.png) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 200px 165px;
    margin: 0px;
    font-weight: var(--text-weight);
    font-size: 40px;
  }
}
