.hero .hero-img,
.bottom-hero .hero-img {
  height: 400px;
  width: 100%;
}

.hero .hero-img {
  background: url(../img/hero-mobile.jpg) no-repeat;
  background-size: cover;
}

.bottom-hero .hero-img {
  background: url(../img/bg-bottom-hero-mobile.png) no-repeat;
  background-size: cover;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0px;
  font-weight: var(--text-weight);
  font-size: 26px;
  text-align: center;
  line-height: 1.5;
}

/*Pacote Viagens*/

.travel-packages.hero {
  margin-bottom: 88px;
}

.travel-packages .hero-img {
  height: 460px;
  background: url("../img/pacote-hero-mobile.jpg") no-repeat;
  background-size: cover;
}

.travel-packages.bottom-hero .hero-img {
  background: url(../img/pacote-bg-bottom-hero-mobile.png) no-repeat;
  background-size: cover;
}

.travel-packages .hero-content {
  padding: 65px 24px;
}

.travel-packages .hero-content h1 {
  font-size: 48px;
  color: #ffff;
}

.travel-packages .hero-content p {
  color: #ffff;
}

.travel-packages .hero-content hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px 0 32px;
  line-height: 32px;
}

/* Blogspot */
.blogspot.hero {
  margin-bottom: 88px;
}

.blogspot.hero .hero-content {
  padding: 65px 24px;
}

.blogspot.hero .hero-img {
  height: 460px;
  background: url(../img/blogspot-bg-hero-mobile.jpg) no-repeat;
  background-size: cover;
}

.blogspot.hero .hero-content h1 {
  font-size: 48px;
  color: #ffff;
}

.blogspot.hero .hero-content p {
  color: #ffff;
}

.blogspot.hero .hero-content hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px 0 32px;
  line-height: 32px;
}

@media screen and (min-width: 768px) {
  .hero .hero-img {
    height: 620px;
    background: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }
  .bottom-hero .hero-img {
    height: 400px;
    background: url(../img/bg-bottom-hero-tablet.png) no-repeat;
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 60px;
    margin: 0px;
    font-weight: var(--text-weight);
    font-size: 32px;
  }

  /*Pacotes de Viagens*/
  .travel-packages .hero-img {
    height: 620px;
    background: url("../img/pacote-bg-hero-tablet.png") no-repeat;
    background-size: cover;
  }

  .travel-packages.bottom-hero .hero-img {
    height: 400px;
    background: url(../img/pacote-bg-bottom-hero-tablet.png) no-repeat;
    background-size: cover;
  }

  .travel-packages .hero-content {
    padding: 210px 70px 107px;
  }

  /* Blogspot */

  .blogspot.hero .hero-img {
    height: 620px;
    background: url("../img/blogspot-bg-hero-tablet.png") no-repeat;
    background-size: cover;
  }

  .blogspot.hero .hero-content {
    padding: 210px 70px 107px;
  }

  .blogspot.hero .hero-content p {
    color: #ffff;
    line-height: 150%;
    font-size: 32px;
  }

  .blogspot.hero .hero-content h1 {
    font-size: 48px;
    color: #ffff;
    line-height: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .hero .hero-img {
    height: 490px;
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .bottom-hero .hero-img {
    height: 464px;
    background: url(../img/bg-bottom-hero-desk.png) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 200px 165px;
    margin: 0px;
    font-weight: var(--text-weight);
    font-size: 40px;
  }
  /*Pacotes de Viagens*/
  .travel-packages .hero-img {
    height: 490px;
    background: url("../img/pacote-bg-hero-desk.png") no-repeat;
    background-size: cover;
  }

  .travel-packages.bottom-hero .hero-img {
    height: 464px;
    background: url(../img/pacote-bg-bottom-hero-desk.png) no-repeat;
    background-size: cover;
  }

  .travel-packages .hero-content {
    padding: 150px 120px 170px;
    margin: 0 auto;
  }
  .travel-packages .hero-content p {
    width: 570px;
  }

  /* Blogspot */

  .blogspot.hero .hero-img {
    height: 550px;
    background: url("../img/blogspot-bg-hero-desk.png") no-repeat;
    background-size: cover;
  }
  .blogspot.hero .hero-content {
    padding: 158px 120px 170px;
    margin: 0 auto;
  }
  .blogspot.hero .hero-content p {
    width: 570px;
  }
}

@media screen and (min-width: 1440px) {
  .bottom-hero .hero-img {
    height: 600px;
  }

  /*Pacotes de Viagens*/
  .travel-packages .hero-content {
    width: 1200px;
  }
  .travel-packages.bottom-hero .hero-img {
    height: 600px;
  }

  /* Blogspot */

  .blogspot.hero .hero-content {
    width: 1200px;
  }
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
  }
}
