.payments .image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  height: 460px;
  margin-top: 24px;
  width: 100%;
}

.payments .content-container .image-gallery .image.first {
  background: url("../img/gallery1-mobile.png") no-repeat;
  background-size: cover;
}

.payments .content-container .image-gallery .image.second {
  background: url("../img/gallery2-mobile.png") no-repeat;
  background-size: cover;
}

.payments .content-container .image-gallery .image.thirdy {
  background: url("../img/gallery3-mobile.png") no-repeat;
  background-size: cover;
}

.payments .content-container .image-gallery .image.thirdy.colspan-2 {
  grid-column: span 2;
}

/* Pacotes de Viagens */

.travel-packages.payments .content-container .image-gallery .image.first {
  background: url("../img/pacote-gallery1-mobile.png") no-repeat;
  background-size: cover;
}

.travel-packages.payments .content-container .image-gallery .image.second {
  background: url("../img/pacote-gallery2-mobile.png") no-repeat;
  background-size: cover;
}

.travel-packages.payments .content-container .image-gallery .image.thirdy {
  background: url("../img/pacote-gallery3-mobile.png") no-repeat;
  background-size: cover;
}

.travel-packages.payments
  .content-container
  .image-gallery
  .image.thirdy.colspan-2 {
  grid-column: span 2;
}

@media screen and (min-width: 768px) {
  .payments .content-container .image-gallery .image.first {
    background: url("../img/gallery1-tablet.png") no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-gallery .image.second {
    background: url("../img/gallery2-tablet.png") no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-gallery .image.thirdy {
    background: url("../img/gallery3-tablet.png") no-repeat;
    background-size: cover;
  }

  /* Pacotes de Viagens */

  .travel-packages.payments .content-container .image-gallery .image.first {
    background: url("../img/pacote-gallery1-tablet.png") no-repeat;
    background-size: cover;
  }

  .travel-packages.payments .content-container .image-gallery .image.second {
    background: url("../img/pacote-gallery2-tablet.png") no-repeat;
    background-size: cover;
  }

  .travel-packages.payments .content-container .image-gallery .image.thirdy {
    background: url("../img/pacote-gallery3-tablet.png") no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .payments .content-container .text-content {
    width: 360px;
    margin: 0;
  }

  .payments .content-container .image-gallery {
    width: 790px;
    margin: 0;
  }

  .payments .content-container {
    display: flex;
    justify-content: space-between;
  }

  /* Pacotes de Viagens */

  .travel-packages.payments .content-container .text-content {
    width: 360px;
    margin: 96px 23px;
  }

  .travel-packages.payments .content-container .image-gallery {
    width: 790px;
    margin: 0;
  }

  .travel-packages.payments .content-container {
    display: flex;
    justify-content: space-between;
  }
}
